Product backlog:
1. As a user, I want to create a task.
	Users should be able to create new task records that will accept task name and 			task deadline input that will be saved to a database. All created tasks wil have 	a task id, date created, and task status which will be set to 'Not Started' by 	default.
2. As a user, I want to view my created tasks so I can keep track of my activities
	User tasks should be displayed in a table at the home page with all corresponding 	details.
3. As a user, I want to edit or delete tasks, so I can manage them.
	Users Should be able to modify existing task records aside from task id and task 		created. A confirmation dialogue should be displayed for when the the user wants 	to delete a task
4. As a user, I want to mark tasks as complete, so I can track my progress.
	Users should be able to assign progress status on tasks with the edit 		functionality. It should specify whether the task is 'Not Started', 'In 		Progress', and 'Finished'.
5. As a user, I want to sort tasks based on nearest due date so I know which tasks are due soon.
	Tasks should be displayed on order of due date and display tasks with the nearest 	deadlines.